.content {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.book-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.book-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.book-image {
    height: 450px;
    object-fit: cover;
    width: 100%;
}

.book-info {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.book-title {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-author, .book-price {
    color: #555;
    margin: 5px 0;
}

.book-edit, .book-delete, .book-info-btn {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    margin: 4px 2px;
    transition: background-color 0.3s;
}

.book-edit:hover, .book-delete:hover, .book-info-btn:hover {
    background-color: #0056b3;
}

.book-delete {
    background-color: #dc3545;
}

.book-delete:hover {
    background-color: #bd2130;
}

.book-info-btn {
    background-color: #17a2b8;
    margin-top: 10px;
}

.book-info-btn:hover {
    background-color: #138496;
}

.book-item-footer {
    margin-top: auto;
}
h2 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
