:root {
    --primary-bg-color: #031a33;
    --text-color: #f0f0f0;
    --hover-text-color: #0066cc;
    --link-hover-effect: underline;
}

body {
    background: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 4rem 0;
    flex-grow: 1;
}

.item_img
{
    width: 150px;
    height: 220px;
}

.item {
    width: 100%;
    position: relative;
}

footer {
    background-color: #031a33;
    color: #bbbbbb;
    padding: 20px 0;
    font-family: 'Helvetica', sans-serif;
}

footer p {
    margin-bottom: 0.5em;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .col-sm {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 40px;
    margin-bottom: 10px;
}


/*hamburger---------------------------------------------------------------------------------------------*/
header {
    background: var(--primary-bg-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: 'Roboto', sans-serif;
}

header img {
    margin-top: 10px;
    margin-left: 5vw;
    width: 80px;
    border-radius: 50%;
}

header ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 5vw;
    align-items: center;
}

header li {
    list-style: none;
    margin: 0 15px;
}

header a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

header a:hover {
    color: var(--hover-text-color);
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-item:last-child {
    margin-left: auto;
}

.cart-info, .link_login {
    font-weight: bold;
    margin-left: 20px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background: var(--text-color);
    transition: all 0.3s ease-in-out;
}

@media (max-width:768px) {
    header ul {
        flex-direction: column;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: var(--primary-bg-color);
        width: 100%;
        transition: left 0.3s;
    }

    .nav-menu.activate {
        left: 0;
    }

    .nav-item {
        display: block;
        padding: 10px 0;
    }

    .hamburger.activate .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.activate .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.activate .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    footer .col-sm {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
}
